<h1 class="text-center text-uppercase">Create new post</h1>

<form class="user-form" action="/new/" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Blog Title goes here" class="form-control" >
    <label for="content"></label>
    <textarea cols="6" name="content" id="content" placeholder="Content goes here" class="form-control" ></textarea>
    <br>
    <button type="submit" class="btn btn-info">Add Post</button>
  </form>